= form_for comment, html: { class: "" } do |f|
  = f.hidden_field :user_id, value: current_user.id
  = f.hidden_field :post_id
  %fieldset
    %legend Comment
    .large-12.columns
      = f.label :text
      = f.text_area :text, rows: 10
      - if erorr_for comment, :text
        %small.error
          = erorr_for comment, :text
      = f.submit 'Save', class: "save-comment button"
      = link_to 'Cancel', '#', class: "cancel-comment button alert"