.row.comments-area{ data: {parent: c.id } }
  .large-10.columns
    %strong= "@#{c.user.email}:"
    %p= c.text
    / NOTE: reply comment logic like for posts
    /  it doesn`t make sense to implement because it is equal form and logic,
    / only parent_id would be saved here to detect parent for comment

    / = render 'shared/reply_vote_path', {votable: p, for_comment: true}
    / .new-comment-area