- editable ||= nil
- for_comment ||=nil
%ul.inline-list.vote-area
  - if current_user && votable.persisted?
    %li
      = link_to 'Reply', [:reply, votable], class: "reply"
    %li
      = link_to '+1', [:vote_up, votable], class: 'vote'
    %li
      = link_to '-1', [:vote_down, votable], class: 'vote'
    %li.vote-results
      = vote_result(votable)
    - if can?(:crud, votable)
      - unless editable
        %li
          = link_to 'Edit', [:edit, votable], class: 'edit'
        %li
          = link_to 'Delete', votable, class: 'delete'