- new_record ||= nil

= form_for post, html: { class: "" } do |f|
  = f.hidden_field :user_id, val: current_user.id
  %fieldset
    %legend Post Form
    .large-12.columns
      = f.label :title
      = f.text_field :title
      - if erorr_for post, :title
        %small.error
          = erorr_for post, :title

      = f.label :description
      = f.text_area :description, rows: 15
      - if erorr_for post, :description
        %small.error
          = erorr_for post, :description

      = f.label :tags
      = f.select :tags, options_for_select(Tag.all.map{|t| [t.name, t.id]}, post.tag_ids), {}, { multiple: 'true'}

      = f.label 'Add tag (separate with ",")'
      = text_field_tag :new_tags

      = f.submit 'Save', class: "#{'save' unless new_record } button"
      = link_to 'Cancel',(new_record ? posts_path : post), class: "#{ 'cancel' unless new_record } button alert"

  = render 'shared/reply_vote_path', {votable: post, editable: true, f: f}