.row.title
  .large-12.columns
    .panel
      %h1 Mega Cooooool Posts
.row
  = link_to 'New Post', [:new, :post], class: 'button'
.row
  - if @posts
    - @posts.each do |p|
      .post-row
        .small-10.columns
          .row
            .large-10.columns
              .edited-area
                %p
                  %strong= "#{p.title}"
                  %p= p.description
                .tags
                  - p.tags.map(&:name).each do |tag_name|
                    %span.label.round.radius.success= tag_name
                = render 'shared/reply_vote_path', {votable: p}
              %h6.comment-counter
                %span #{p.comments.count}
                Comments
              .new-comment-area
              - p.comments.ordered_by_date.each do |c|
                = render 'comments/show_comment', {p: p, c: c}
        %hr/
  = paginate @posts
%footer.row
  .large-12.columns
    %hr/
    .row
      .large-5.columns
        %p © Made by begin29.